[Desktop Entry]
Version=1.0
Type=Application
Name=Dark and Darker
GenericName=Dark and Darker
Comment=Dark and Darker
Icon=com.darkanddarker.DaD
Terminal=false
Exec=dad-run
Categories=Game;
X-Flatpak-Tags=proprietary;
X-Flatpak=com.darkanddarker.DaD
